<h1>Seaching for - <%=  @search_item %></h1>

<table border = "1">
	<% @searches.each do |item| %>
		<tr>
			<td><%= link_to image_tag(item["image_url"], height: '100', width: '100'), item["f2f_url"] %></td>
			<td><%= link_to sanitize(item["title"]), item["f2f_url"] %></td>
			<td><%= item["social_rank"] %></td>
		</tr>
	<%end%>
</table>
